<section class="hs__navbar">
    <div class="navbar_content--left">
        <a href="index.html" class="hs__logo"><img src="../../../assets/film.png" alt=""></a>
        
        <input placeholder="WHAT DO YOU WANT TO WATCH ?" class="hs__search" type="text">
    </div>
    <div class="navbar_content--right">
       <a href="signin.html"  class="nav__signin">Sign in</a>
       <a href="signup.html" class="nav__signup">Sign up</a>
    </div>
</section>

<section class="hs__signin-section">

<div class="hs__signin-box">
    
<div class="hs__signin-form">
    <h1 class="signin__form--title">Sign in</h1>
<input placeholder="username" class="signin__form--username" type="text">
<input placeholder="password" class="signin__form--password"   type="password">
 <a class="signin__form--login"  href="">Login</a>
</div>


</div>

<div class="hs__signin-imgRight">
 
   
</div>
<section>