<app-navbar></app-navbar>

<section class="hs__main-section">

<div class="hs__filter-box">

</div>



<div class="hs__listFilm-box">   
     <h1 class="hs__listFilm-h1">Watch Movies Online</h1>
     <p class="hs__listFilm-p">How many times have you sat down for the evening, gotten comfortable with your drink, put on your lounge pants. And then you discover there are no good movies to watch? For most people, it happens frequently. What can you do instead? How about watching a full length movie online through Yidio? You are</p>
<div class="hs__listFilm">
    <div class="hs__listFilm--item">
     <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
     <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
    </div>
    <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>

       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
        <div class="hs__listFilm--item">
     <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
     <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
    </div>
     <div class="hs__listFilm--item">
     <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
     <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
    </div> <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
       <div class="hs__listFilm--item">
        <img class="listFilm__item--img" src="https://cfm.yidio.com/images/movie/215017/poster-180x270.jpg" alt="">
        <p class="listFilm__item--title" >Spider-Man: Across the ...</p>
       </div>
    

</div>
    </div>

</section>

