<app-navbar></app-navbar>

<section class="hs__main-section">

<div class="hs__filter-box">
<ul class="hs__filter-score--list">
    <li class="hs__filter-score--item"><input type="checkbox" class="score__checkbox"><label for="" class="score__label">1.6</label></li>
    <li class="hs__filter-score--item"><input type="checkbox" class="score__checkbox"><label for="" class="score__label">1.6</label></li>
    <li class="hs__filter-score--item"><input type="checkbox" class="score__checkbox"><label for="" class="score__label">1.6</label></li>
    <li class="hs__filter-score--item"><input type="checkbox" class="score__checkbox"><label for="" class="score__label">1.6</label></li>
    <li class="hs__filter-score--item"><input type="checkbox" class="score__checkbox"><label for="" class="score__label">1.6</label></li>
</ul>
</div>



<div class="hs__listFilm-box">   
     <h1 class="hs__listFilm-h1">Watch Movies Online</h1>
     <p class="hs__listFilm-p">How many times have you sat down for the evening, gotten comfortable with your drink, put on your lounge pants. And then you discover there are no good movies to watch? For most people, it happens frequently. What can you do instead? How about watching a full length movie online through Yidio? You are</p>

     <div class="hs__listFilm">
    <div class="hs__listFilm--item" *ngFor="let film of films">
     <img routerLink="/watch/{{film.title}}" class="listFilm__item--img" src="{{film.image}}" alt="">
     <p class="listFilm__item--title" >{{film.title}}</p>
    </div>


</div>
    </div>

</section>

