<app-navbar></app-navbar>
<iframe class="hs__watch-video-box"  id="iframe-embed" src="https://rapid-cloud.co/embed-6/8OXvSL82BIsa?k=1&amp;autoPlay=1&amp;oa=0&amp;asi=1" frameborder="0" referrerpolicy="strict-origin" allow="autoplay; fullscreen; geolocation; display-capture; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" style=""></iframe>

<section class="hs__watch-section">
   
    
    
    <ul class="hs__watch-video--list">
      <li class="hs__watch-video--Listitem">Duration : {{matchingFilm.duration}} </li>
      <li class="hs__watch-video--Listitem">Score : {{matchingFilm.score}}</li>
      <li class="hs__watch-video--Listitem">Aired : {{matchingFilm.aired}}</li>
      <li class="hs__watch-video--Listitem">permited : {{matchingFilm.permited}}</li>
      <li class="hs__watch-video--Listitem">studios : {{matchingFilm.studios}}</li>
    </ul>


     <div class="hs__watch-description">
      <div class="hs__watch-description-image-box">
        <img class="hs__watch-description--image" src="{{matchingFilm.image}}" alt="">        
      </div>

      <div class="hs__watch-description--overview">
        <h1 class="hs__watch-description--title">{{matchingFilm.title}}</h1>
         <p class="hs__watch-description--paragraphe">{{matchingFilm.overview}}</p>
      </div>

     </div>

    
  </section>