<app-navbar></app-navbar>
<section class="hs__watch-section">
    <div class="hs__watch-video-box">
        <img class="hs__video--iconStart" src="../../../assets/start.svg">
      <video class="hs__watch-video" src=""></video>
    </div>
    <h2 class="hs__watch-video--title">{{matchingFilm.title}}</h2>
    <ul class="hs__watch-video--list">
      <li class="hs__watch-video--Listitem">Duration : {{matchingFilm.duration}} </li>
      <li class="hs__watch-video--Listitem">Score : {{matchingFilm.score}}</li>
      <li class="hs__watch-video--Listitem">Aired : {{matchingFilm.aired}}</li>
      <li class="hs__watch-video--Listitem">permited : {{matchingFilm.permited}}</li>
      <li class="hs__watch-video--Listitem">studios : {{matchingFilm.studios}}</li>
    </ul>

    </section>