*,
::after,
::before{
    padding: 0px;
    margin: 0px;
}


button{
    border: none;
    background: none;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
}


/*main section*/

.hs__watch-section{
    height: 100vh;
    width: 100vw;
    background: rgb(32, 31, 31);
    padding: 0px 0px 0px 40px;
 

}

.hs__watch-video-box{
    height: 70vh;
    width: 70vw;
    background: black;
    position: relative;
}



.hs__video--iconStart{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 80px;
    cursor: pointer;
}

.hs__watch-video--title{
color: white;
font-weight: 900;
font-size: 28px;
margin-top: 20px;

}


.hs__watch-video--list{
  margin:20px 0px;
  color:white
   

}

.hs__watch-video--Listitem{
    margin: 5px 0px;

}


.hs__watch-description-image-box{
    display: flex;
    column-gap: 5px;
}


.hs__watch-description--image{
   width: 50px;
   height:50px
}