<section class="hs__navbar">
    <div class="navbar_content--left">
        <a href="index.html" class="hs__logo"><img src="../../../assets/film.png" alt=""></a>
        
        <input placeholder="WHAT DO YOU WANT TO WATCH ?" class="hs__search" type="text">
    </div>
    <div class="navbar_content--right">
       <a href="signin.html"  class="nav__signup">Sign in</a>
       <a href="signup.html" class="nav__signup">Sign up</a>
    </div>
</section>

<section class="hs__signup-section">

<div class="hs__signup-box">
    
<div class="hs__signup-form">
    <h1 class="signup__form--title">Sign Up</h1>
<input placeholder="Username" class="signup__form--username" type="text">
<input placeholder="Email" class="signup__form--email" type="email">
<input placeholder="Password" class="signup__form--password"   type="password">
<input placeholder="Confirm password" class="signup__form--password"   type="password">
 <a class="signup__form--Register"  href="">Register</a>
</div>


</div>

<div class="hs__signup-imgRight">

   
</div>
<section>

